<div class="container">
    <div class="header">
        <h1>Twitter Topic Selector</h1>
    </div>
    <div class="options">
        <h3>Choose a topic</h3>
        <div class="topics">
            <% @topics.each do |topic| %>
                <a href="/index/<%=topic.id %>" 
                    tabindex="<%=topic.id%>" 
                    title="Recent tweets about the subject of <%=topic.title%>">
                    <button>
                        <%= topic.title %>
                    </button>
                </a>
            <% end %>
        </div>
    </div>
</div>