/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 body {
    background: linear-gradient(#121212, #565656);
    color: #f2f2f2;
    display: flex;
    justify-content: center;
}

.container {
    text-align: center;
    padding-top: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topics {
    display: flex;
    justify-content: center;
}

button {
    font-size: large;
    padding: 15px 30px;
    background: #f2f2f2;
}

button a, button a:visited {
    color: #121212;
}

a {
    color: #f2f2f2;
    text-decoration: none;
}

a:visited {
    color: #f2f2f2;
}

a:hover {
    color: #898989;
}